.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
env
.idea
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
.python-version
.ipynb_checkpoint
*/.ipynb_checkpoint
*/*/.ipynb_checkpoint
*/*/*/.ipynb_checkpoint
*/*/*/*/.ipynb_checkpoint
ishimaru/profile_report.html
ishimaru/sample_submission.csv
